{% extends "base.html" %}

{% block css %}
<style type="text/css">
	body{
		text-align: center;
	}
	h1{
		font-weight: bolder;
		margin-bottom: 5px;
	}
	li{
		padding:10px;
		margin:10px;
		font-size: 30px;
		text-align: left;
		border: dotted 1px #ccc;
	}
</style>
{% endblock %}

{% block content %}

	<h1>समाचार एप्लिकेशन</h1>

	<li><a href="mailto:stomatrix@gmail.com?Subject=समाचार एप्लिकेशन पर प्रतिक्रिया">प्रतिक्रिया(Feedback) भेजें</a></li>
	<li><a href="https://play.google.com/store/apps/details?id=com.sauravtom.samachar">Rate on Google Play</a></li>

{% endblock %}
