{% extends "base.html" %}

{% block css %}
<style type="text/css">
	.source_item{
		display: list-item;
		list-style-type: none;
		padding:10px;
		margin: 5px 10px 3px 10px;
		border:2px solid grey; 
		text-align: center;
		box-shadow: 4px 4px 1px 1px #ccc;
	}
	
</style>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
	
	<div class='sources'>
		<br>
		<a href="/sources/amarujala" class='source_item'>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQeu9Yz4mJYLSUlRRGT9hANGk75n-9ny8vkxnfmM9BNbbSFsg" class='source_img'>
		</a>

		<br>
		<a href="/sources/ibn" class='source_item'>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTHjX_sn61MTuZTMRDrOFBbKAsODMi0AioEWukg92FyD5qRMQ" class='source_img'>
		</a>
		<br>
		
		<a href="/sources/jagran" class='source_item'>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQYVqyzaWm1QgtLopWGMYnR2ayL-hUP2OZGzycywUNupExT-A" class='source_img'>
		</a>
		<br>
		<a href="/sources/oneindia" class='source_item'>
			<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSbd6curBz7VwLSsx0PyRIsap-GPd3goL6nlWE2UqDVByRQ" class='source_img'>
		</a>
		<br>
		<a href="/sources/jansatta" class='source_item'>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRKa0XH_rIUhDxLonUHPxKpUbqAnpbjxg-RQy-fPnrOmNNtlA" class='source_img'>
		</a>

		<br>
		<a href="/sources/navbharat" class='source_item'>
			<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcShIYUKnoem20yOQwU7eXR_hZNn2fXpsjWV1VZsnd3H8-Gc" class='source_img'>
		</a>
		

		<br>
		<a href="/sources/aajtak" class='source_item'>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRpMVhLenEhGZEzPyJyBzkjP8q3jlzMLjnshdLBmoxMpxOenw" class='source_img'>
		</a>
		
		
	</div>  
	
{% endblock %}
